.New{
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.66);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.66);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.66);
  padding: 35px 0;
}
.title{
  display: flex;
  justify-content: center;
  margin:20px 0;
}
.Home{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.Home input {
  display: inline-block;
  margin:10px 0;
  width:50%;
  padding: 15px 15px;
 

 
}
.Home input::placeholder{
  text-align: center;
}

.Button{
  display: flex;
  justify-content: center;
}
.Button input{
    display: inline-block;
    padding:16px 50px;
    margin-top: 25px;
    margin-left: 25px;
   
}
.errorMessage{
  color:red;
  font-size: 12px;
}